#login {
  height: 100vh;
  background-color: #161f32;
  background-image: url(../images/Background_login_without_style.png);
  background-size: cover;
  background-position: center;
}
#login .container .item {
  width: 450px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .container .inner .content {
  width: 100%;
  border-radius: 20px;
  /* يتم الرجوع  ليهم عند التعديل */
  /* border: 3px solid #ffffff;
  background-color: rgba(255, 255, 255); */
  border: 3px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  padding: 20px 30px;
}
#login .container .inner .content .head {
  width: 100%;
  margin: auto;
  text-align: center;
}
#login .container .inner .content .head .img {
  width: 90px;
  height: 90px;
  margin: auto;
  margin-bottom: 20px;
  background-color: #22c55e;
  background-color: #4f46e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}
#login .container .inner .content .head .img i {
  font-size: 40px;
  color: #fff;
}
#login .container .inner .content .head .titel h2 {
  color: #0f172a;
  font-size: 28px;
  margin-bottom: 10px;
}
#login .container .inner .content .head .titel p {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 30px;
}
#login .container .inner .content .login table {
  width: 100%;
  margin: auto;
}
#login .container .inner .content .login table label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}
#login .container .inner .content .login table .input {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
#login .container .inner .content .login table .input input {
  padding: 14px 45px 14px 14px;
  width: 100%;
  border-radius: 12px;
  font-size: 15px;
  border: 1px solid #cbd5e1;
}
#login .container .inner .content .login table .input input:focus {
      outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.3);
}
#login .container .inner .content .login table i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #738192;
}
#login .container .inner .content .login table .check {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 10px;
}
#login .container .inner .content .login table .check label {
  margin-left: 5px;
  font-size: 14px;
  color: #555;
}
#login .container .inner .content .login table .button button a {
    color: #ffffff;
}
#login .container .inner .content .login table .button button {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  background-color: #4f46e5;
  color: #ffffff;
  transition: 0.5s;
}
#login .container .inner .content .login table .button button:hover {
  background:#4338ca;
  transform: translateY(-5px);
  box-shadow:  0 5px 15px rgba(79, 70, 229, 0.9);
}
#login .container .inner .content .login table .footer-text p {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: #777;
}



