/* strat left side */
#point-sale .inner .content {
  background-color: #F3F4F6;
  flex: 1;
  padding: 140px 20px 0 20px;
}
#point-sale .container .inner .content .header {
    background-color: #4F46E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 290px;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0,0,0,0.01);
}
#point-sale .container .inner .content .header .titel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
#point-sale .container .inner .content .header .titel i {
    font-size: 25px;
    margin-left: 5px;
}
#point-sale .inner .content .pos {
  width: 100%;
}
#point-sale .inner .content .pos .left-side {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}
#point-sale .inner .content .pos .left-side .top-header {
  display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 25px;
}
#point-sale .inner .content .pos .left-side .top-header h2 {
  font-size: 32px;
  color: #111827;
}
#point-sale .inner .content .pos .left-side .top-header .search-box {
  width: 300px;
}
#point-sale .inner .content .pos .left-side .top-header .search-box input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 16px;
  border: none;
  outline: none;
  background-color: #F3F4F6;
}
#point-sale .inner .content .pos .left-side .product-form {
  margin-bottom: 30px;
}
#point-sale .inner .content .pos .left-side .product-form .input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#point-sale .inner .content .pos .left-side .product-form .input-box label {
  font-weight: 700;
  color: #374151;
  margin-bottom: 8px;
}
#point-sale .inner .content .pos .left-side .product-form .input-box input {
  padding: 15px;
  border-radius: 16px;
  background-color: #f3f4f6;
  font-size: 17px;
  border: none;
  outline: none;
}
#point-sale .inner .content .pos .left-side .product-form .input-box input:focus {
  box-shadow: 0 5px 10px #4f46e5;
  border: 2px solid #4f46e5;
  background-color: #ffffff;
}
#point-sale .inner .content .pos .left-side .product-form .add-button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 18px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  background-color: #4f46e5;
  color: #ffffff;
}
#point-sale .inner .content .pos .left-side .product-form button:hover {
  background-color: #4338ca;
  box-shadow: 0 5px 10px #4f46e5;
}
#point-sale .inner .content .pos .left-side .product-form .add-button i {
  margin-left: 5px;
}
#point-sale .inner .content .pos .left-side .product-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: #111827;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
#point-sale .inner .content .pos .left-side .product-table table th {
  padding: 16px;
  color: #ffffff;
}
#point-sale .inner .content .pos .left-side .product-table table td {
  border-bottom: 1px solid #eee;
  padding: 16px;
  background-color: #ffffff;
}
#point-sale .inner .content .pos .left-side .product-table table td:hover {
  background-color: #f9fafb;
}
#point-sale .inner .content .pos .left-side .product-table table .delete-button {
  background-color: #ef4444;
  padding: 8px 12px;
  border-radius: 10px;
  color: #ffffff;
}
/* end left side */
/* start right side */
#point-sale .inner .content .pos .right-side {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 5px 20px rgba(0,0,0,.05);
  margin-bottom: 20px;
}
#point-sale .inner .content .pos .right-side .bill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
#point-sale .inner .content .pos .right-side .bill-header h3 {
  color: #111827;
  font-size: 28px;
}
#point-sale .inner .content .pos .right-side .customer-box {
  margin-bottom: 25px;
}
#point-sale .inner .content .pos .right-side .customer-box input {
  width: 100%;
  padding: 14px;
  border-radius: 16px;
  border: none;
  outline: none;
  background-color: #f3f4f6;
}
#point-sale .inner .content .pos .right-side .bill-details table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: rgba(243,244,246);
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  margin-bottom: 32px;
}
#point-sale .inner .content .pos .right-side .bill-details table th {
  color: #111827;
  padding: 15px;
}
#point-sale .inner .content .pos .right-side .bill-details table td {
background-color: #F9FAFB;
padding: 15px;
border-bottom: 1px solid #eee;
}
#point-sale .inner .content .pos .right-side .totals {
  border-top: 2px dashed #ddd;
  padding: 15px;
}
#point-sale .inner .content .pos .right-side .totals .total-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  font-size: 16px;
}
#point-sale .inner .content .pos .right-side .totals .final-total {
  font-size: 24px;
  font-weight: 700;
  color: #4f46e5;
}
#point-sale .inner .content .pos .right-side .payment-method h3 {
  color: #111827;
  margin-bottom: 15px;
}
#point-sale .inner .content .pos .right-side .payment-method .payment-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#point-sale .inner .content .pos .right-side .payment-method .payment-cards .payment-card {
  width: 48%;
  border-radius: 20px;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  transition: 0.3s;
}
#point-sale .inner .content .pos .right-side .payment-method .payment-cards .payment-card:hover {
  border-color: #4f46e5;
  background-color: #ffffff;
}
#point-sale .inner .content .pos .right-side .payment-method .payment-cards .payment-card i {
  font-size: 28px;
  color: #4f46e5;
  margin-bottom: 10px;
}
#point-sale .inner .content .pos .right-side .action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#point-sale .inner .content .pos .right-side .action-buttons .print-button {
  padding: 16px;
  margin-bottom: 15px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #10B981;
  color: #ffffff;
}
#point-sale .inner .content .pos .right-side .action-buttons .pay-button {
  padding: 16px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #111827;
  color: #ffffff;
}
/* end right side */
