* , ::after , ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:Tahoma, sans-serif , 'Cairo',sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.w-100 {
    width: 100%;
}
img {
    display: block;
}
.container {
    width: 100%;
    margin: auto;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
body {
    direction: rtl;
}
/* strat sidebar */
 .inner {
  display: flex;
}
 .sidebar {
  width: 270px;
  background-color: #111827;
  padding: 23px 25px 10px 25px;

}
 .sidebar .content-bar .top-bar {
  display: flex;
  align-items: center;
  /* margin-bottom: 40px; */
  margin-bottom: 22px;
}
 .sidebar .content-bar .logo {
  width: 50px;
  height: 50px;
  background-color: #4f46e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}
 .sidebar .content-bar .logo i {
  font-size: 22px;
  color: #ffffff;
}
 .sidebar .content-bar .titel h2 {
  color: #ffffff;
  font-size: 24px;
  margin-right: 10px;
}
 .sidebar .content-bar .menus {
  display: flex;
  flex-direction: column;
}
 .sidebar .content-bar .menus a {
  padding: 12px;
  border-radius: 14px;
  background-color: #1f2937;
  color: #ffffff;
  /* margin-bottom: 12px; */
  margin-bottom: 9px;
  font-size: 14px;
  transition: 0.3s;
}
 .sidebar .content-bar .menus a:hover,
 .sidebar .content-bar .menus a.active {
  background-color: #4f46e5;
}
 .sidebar .content-bar .used-name {
  padding: 12px;
  border-radius: 14px;
  background-color: #1f2937;
  color: #ffffff;
  /* margin-top: 10px; */
  margin-top: 5px;
  font-size: 14px;
}
 .sidebar .content-bar .used-name .used {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin-bottom: 20px; */
  margin-bottom: 13px;
}
 .sidebar .content-bar .used-name .used .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
 .sidebar .content-bar .used-name .used .img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
 }
 /* .sidebar .content-bar .used-name .used i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b3acee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #584dd1;
  margin-left: 10px;
  font-size: 25px;
} */
 .sidebar .content-bar .used-name .used h3 {
  font-size: 15px;
  line-height: 25px;
}
 .sidebar .content-bar .used-name .used span {
  font-size: 13px;
}
.sidebar .content-bar .used-name .used .logout i {
  color: red;
  margin-right: 25px;
}
 .sidebar .content-bar .used-name .branch {
  width: 100%;
  padding: 15px;
  background-color: #1f2937;
  outline: none;
  border: 2px solid #111827;
  border-radius: 14px;
  color: #ffffff;
  font-size: 18px;
  display: flex;
}
 .sidebar .content-bar .used-name .branch i {
  color: white;
  margin-left: 5px;
}
 .sidebar .content-bar .used-name .branch h3 {
  font-size: 14px;
}
/* end sidebar */